local:
  addr:

project:
  name: freeim

http:
  public:
    port: 8080
rpc:
  private:
    port: 9000

mysql:
  logLevel: 0
  addr: root:0825@tcp(127.0.0.1:3306)/im?charset=utf8mb4&parseTime=True&loc=Local
  maxIdleConns: 10
  maxOpenConns: 100
  connMaxLifetime: "1h"

redis:
  uri: 127.0.0.1:6379
  password: 
  db: 0

email:
  addr: smtp.qq.com:25
  identity:
  username: 1129443982@qq.com
  password: zhckeddmgjdlgjbb
  host: smtp.qq.com

aliyun:
  regionId: 
  accessKeyId:
  accessKeySecret:
  smsCaptcha:
    signName:
    templateCode:

smsbao:
  username: a97392828
  password: 0c3b7189bb23477db90f6fa5352e7221
  sendRange: local

config:
  autoRefreshInterval: 10s

etcd:
  addrs:
    - 192.168.35.128:2379
  prefix: freeim

qiniu:
  ak: U7nSFEZVJ7gnNNqTrsvN5BeRzDrbQMTlHChzCybC
  sk: H289Jm953amJmDuFvXTeU6jz2zCmfztlDoLRSyMH
  bucket: freeim
  domain: http://rlw127vpd.hn-bkt.clouddn.com