http:
  public:
    port: 8081
rpc:
  port: 8083

mysql:
  logLevel: 0
  addr: root:password@tcp(127.0.0.1:3306)/freeim?charset=utf8mb4&parseTime=True&loc=Local
  maxIdleConns: 10
  maxOpenConns: 100
  connMaxLifetime: "1h"

redis:
  uri: 127.0.0.1:6379
  password: 
  db: 0

email:
  addr: smtp.qq.com:25
  identity:
  username: 
  password: z
  host: smtp.qq.com

aliyun:
  regionId: 
  accessKeyId:
  accessKeySecret:
  smsCaptcha:
    signName:
    templateCode:

smsbao:
  username: 
  password: 
  sendRange: local

config:
  autoRefreshInterval: 10s

etcd:
  addrs:
    - 192.168.115.137:2379

qiniu:
  ak: 
  sk: 
  bucket: freeim